# /etc/sssd/conf.d/{{ ct_sssd.domain_name }}.conf

[domain/{{ ct_sssd.domain_name }}]
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
access_provider = permit

enumerate = True
cache_credentials = True

fallback_homedir = {{ ct_sssd.default_home_directory }}
default_shell = {{ ct_sssd.default_shell }}

ldap_uri = {{ ct_sssd.ldap.uri }}
ldap_schema = rfc2307bis
ldap_search_base = {{ ct_sssd.ldap.search_base }}

ldap_default_bind_dn = {{ ct_sssd.ldap.bind_dn }},{{ ct_sssd.ldap.search_base }}
ldap_default_authtok = {{ ct_sssd.ldap.bind_password }}

ldap_tls_cacert = {{ ct_sssd.ldap.ca_cert }}
ldap_tls_reqcert = demand

ldap_user_search_base = ou=people,{{ ct_sssd.ldap.search_base }}?subtree?(uidNumber=*)
ldap_user_object_class = posixAccount
ldap_user_name = uid
ldap_user_gecos = cn
ldap_user_uid_number = uidNumber
ldap_user_gid_number = gidNumber
ldap_user_home_directory = homeDirectory
ldap_user_shell = unixShell
ldap_user_ssh_public_key = sshPublicKey

ldap_group_search_base = ou=groups,{{ ct_sssd.ldap.search_base }}?subtree?(gidNumber=*)
ldap_group_object_class = groupOfUniqueNames
ldap_group_name = cn
ldap_group_gid_number = gidNumber
ldap_group_member = uniqueMember